
@font-face {
  font-family: screen;
  src: url(digital-7.ttf);
}

@font-face {
  font-family: button;
  src: url(Menlo.ttc);
}
body {
  font-family: screen, Fallback, courier;
}

button {
  width: 65px;
  height: 45px;
  font-family: button, Fallback, courier;
  font-size: 2em;
  text-align: center;
  border-radius: 10px;
  background-color: #76c1fd;
}

h1 {
  display: block;
  margin: auto;
  text-align: center;
  font-family: courier;
  margin-bottom: 10px;
}

.calculator {
  background-color: #8c3b9a;
  display: block;
  margin: auto;
  margin-top: 50px;
  width: 280px;
  height: 420px;
  border-style: solid;
  border-radius: 7%;
  padding: 10px;
}
.button-board {
  display: block;
  margin: auto;
  padding: 5px;
  margin-top: 30px;
}

.hide {
  display: none;
}

.screen {
  background-color: lightgrey;
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  text-align: right;
  padding-right: 20px;
  margin-bottom: 20px;
}

#display {
  font-size: 3em;
  margin-top: 10px;
  margin-bottom: 10px;

}

#count {
  font-size: 1.5em;
  color: grey;
  margin-top: 5px;
  margin-bottom: 10px;

}
